@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: auto;
    width: 375px;
    border: 1.334vh solid #111;
    border-radius: 4.5vh;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #C6C6C6;
}

#oldagram-logo {
    width: 125px;
}

.avatar {
    width: 34px;
    border-radius: 50%;
}

.post-heading, 
.icon-container, 
.likes-message, 
.poster-message {
    margin-left: 10px;
}

.user-full-name, 
.likes-message, 
.username {
    font-weight: bold;
}

.post-heading {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 7px;
    padding: 10px 0;
}

.post-user-details p {
    margin: 0;
}

.main-image {
    width: 100%;
    margin-bottom: 20px;
}

.icon-container {
    display: flex;
    gap: 15px;
}

.icon {
    width: 24px;
    color: black;
}

.icon:hover {
    transform: scale(1.2);
}

section {
    border-bottom: 5px solid #C6C6C6;
}

section:last-child {
    border-bottom: none;
}